@tailwind base;
@tailwind components;
@tailwind utilities;
.dot-flashing {
	display: inline-block;
	position: relative;
	width: 1.5em;
	height: 1em;
  }

  .dot-flashing .dot {
	position: absolute;
	top: 0;
	width: 0.3em;
	height: 0.3em;
	border-radius: 50%;
	background-color: #000;
	animation: dotFlashing 1s infinite linear;
  }

  .dot-flashing .dot:nth-child(1) {
	left: 0;
	animation-delay: 0s;
  }

  .dot-flashing .dot:nth-child(2) {
	left: 0.5em;
	animation-delay: 0.2s;
  }

  .dot-flashing .dot:nth-child(3) {
	left: 1em;
	animation-delay: 0.4s;
  }

  @keyframes dotFlashing {
	0% {
	  opacity: 0.2;
	}
	20% {
	  opacity: 1;
	}
	100% {
	  opacity: 0.2;
	}
  }
